.folder-tab {
  height: 36px;
  position: relative;
  top: 0px;
  left: 28px;
  display: inline-block;
  z-index: 2;
  margin-right: 50px;
  color: #A3B4C9;
  border-radius: 10px 10px 0px 0px;
}
.folder-tab span {
  display: inline-block;
  margin-left: 16px;
  margin-right: 16px;
  height: 36px;
  line-height: 40px;
  z-index: 3;
}
/*
.folder-tab {
  height: 36px;
  position: relative;
  top: 10px;
  left: 28px;
  display: inline-block;
  z-index: 2;
  margin-right: 50px;
  color: #A3B4C9;
}
.folder-tab:before {
  height: 36px;
  width: 30px;
  border-radius: 10px 10px 0px 0px;
  content: "";
  background-color: inherit;
  position: absolute;
  left: -20px;
  top: 0px;
  -webkit-transform: skewX(-20deg);
  transform: skewX(-20deg);
  z-index: -1;
}
.folder-tab:after {
  height: 36px;
  width: 30px;
  border-radius: 10px 10px 0px 0px;
  content: "";
  background-color: inherit;
  position: absolute;
  right: -20px;
  top: 0px;
  -webkit-transform: skewX(20deg);
  transform: skewX(20deg);
  z-index: -1;
}
*/

